.c{
    font-size: 30px;
    color: yellow;
}
.p1{
    font-size: 30px;
    color: purple;
}
.p2{
    font-size: 30px;
    color: purple;
}

.h1{
    font-size: 30px;
    color: purple;
}
